@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #222831;
    background-color: white;
}

/* social header and links */

#social-container {
    height: 45px;
    width: 100%;
}

#social {
    float: right;
}

#social li {
    list-style-type: none;
    display: inline-block;
    margin-right: 22px;
    margin-top: 10px;
    vertical-align: middle;
}

#social i {
    font-size: 120%;
    color: #00ADB5;
}

#social i:hover {
    opacity: 0.7;
}

/* main header, menu, logo and headings */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00ADB5;
}

#header-container {
    height: 175px;
    width: 100%;

}

#menu-left {
    width: 40%;
    height: 175px;
    float: left;
    letter-spacing: 3px;
    font-size: 140%;
}

#menu-right {
    width: 40%;
    height: 175px;
    float: right;
    letter-spacing: 3px;
    font-size: 140%;

}

#logo-container {
    width: 20%;
    height: 175px;
    margin: 0 auto;
}

.left-menu li {
    text-decoration: none;
    list-style-type: none;
    float: right;
    display: inline;
    position: relative;
    top: 135px;
    margin-left: 50px;

}

.right-menu li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    position: relative;
    top: 135px;
    margin-right: 50px;

}

.left-menu a, .right-menu a {
    text-decoration: none;
    list-style-type: none;
    color: #222831; 
}

.left-menu .active, .right-menu .active {
    text-decoration: underline dotted #222831;
    font-weight: bolder;
    color: #00ADB5;
}

.left-menu a:hover, .right-menu a:hover {
    color: #00ADB5;
}


.logo-image {
    background: url('../images/logo3\ main.png') no-repeat center center;
    height: 150px;
    position: relative;
    top: 12px;
}

/* hero image */

#home-hero-outer {
    height: 650px;
    width: 100%;
    object-fit: cover;
}

#hero-image {
    height: inherit;
    width: 100%;
    background: url('../images/Hero\ Image\ 1.jpg') no-repeat center center;
}

/* about us */

#about-us h1 {
    text-align: center;
    padding: 20px;
    font-size: 280%;
}

#about-us {
    height: 700px;
    width: 100%;
}

#about-left-container {
    height: 700px;
    width: 40%;
    float: left;
    margin-left: 10%;
    text-align: center;
    position: relative;
    background-color: red;
}

#about-right-container {
    height: 700px;
    width: 40%;
    float: right;
    margin-right: 10%; 
}

#about-left-container > p {
    margin: 100px 150px;
}

.about-button-container {
    position: relative;
    height: 75px;
    background-color: blue;
}

.about-button {
    background-color: #00ADB5;
    border: none;
    border-radius: 10px;
    color: #222831;
    padding: 15px 32px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 140%;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img {
    height: 350px;
    width: 525px;
    margin: 100px 150px;
}

.column {
    height: 700px;
    width: 40%;
    float: left;
    margin-left: 10%;
    margin-top: 20px;
    background-color: blue;
}

.column2 {
    height: 700px;
    width: 40%;
    margin-right: 10%;
    float: right;
    margin-top: 20px;
    background-color: red;
}

.row1:after {
    display: table;
    clear: both;
}